/ElementFilters.class
/MetaModel$MetaModelParser.class
/MetaModel.class
/MetaModelElement$MetaModelElementAttribute.class
/MetaModelElement.class
/Model.class
/ModelElement$ElementOrderComparator.class
/ModelElement.class
/XMIContextStack$Context.class
/XMIContextStack.class
/XMIReader$DeferredRelation.class
/XMIReader$ProgressMessageHandler.class
/XMIReader.class
/XMITransformation.class
/XMITransformations$XMITranformationsParser.class
/XMITransformations.class
/XMITrigger$TriggerType.class
/XMITrigger.class
