/AbstractCodeFragment.class
/AbstractCodeMapping.class
/AbstractExpression.class
/AbstractStatement.class
/CompositeStatementObject.class
/CompositeStatementObjectMapping.class
/LeafMapping.class
/MethodInvocationReplacement.class
/OperationBody.class
/OperationInvocation.class
/Replacement.class
/SimpleNameVisitor.class
/StatementObject.class
/UMLOperationBodyMapper.class
/VariableRename.class
/VariableReplacementWithMethodInvocation.class
