/ASTReader.class
/AccessedMember.class
/AnonymousClassDeclarationVisitor.class
/BytecodeReader.class
/DOMReader.class
/FieldAccess.class
/MethodCall.class
/UMLAction.class
/UMLActor.class
/UMLAnonymousClass.class
/UMLAssociation.class
/UMLAssociationEnd.class
/UMLAssociationRole.class
/UMLAttribute.class
/UMLCallAction.class
/UMLClass.class
/UMLClassifierRole.class
/UMLCollaboration.class
/UMLCreateAction.class
/UMLDataType.class
/UMLDependency.class
/UMLExtend.class
/UMLGeneralization.class
/UMLInclude.class
/UMLMessage.class
/UMLModel.class
/UMLOperation.class
/UMLParameter.class
/UMLRealization.class
/UMLReturnAction.class
/UMLType.class
/UMLUseCase.class
/XMIHeader.class
/XMIModelExtractor.class
/XMIVersionExtractor.class
