/ClassRenameComparator.class
/ConvertAnonymousClassToTypeRefactoring.class
/ExtractAndMoveOperationRefactoring.class
/ExtractOperationRefactoring.class
/ExtractSuperclassRefactoring.class
/InheritanceDetection.class
/InlineOperationRefactoring.class
/IntroducePolymorphismRefactoring.class
/MergeOperation.class
/MoveAttributeRefactoring.class
/MoveClassRefactoring.class
/MoveOperationRefactoring.class
/PullUpAttributeRefactoring.class
/PullUpOperationRefactoring.class
/PushDownAttributeRefactoring.class
/PushDownOperationRefactoring.class
/Refactoring.class
/RenameClassRefactoring.class
/RenameOperationRefactoring.class
/StringDistance.class
/UMLAttributeDiff.class
/UMLClassDiff.class
/UMLClassMoveDiff.class
/UMLClassRenameDiff.class
/UMLCollaborationDiff.class
/UMLGeneralizationDiff.class
/UMLModelDiff.class
/UMLOperationDiff.class
/UMLParameterDiff.class
/UMLRealizationDiff.class
/diff_match_patch$Diff.class
/diff_match_patch$LinesToCharsResult.class
/diff_match_patch$Operation.class
/diff_match_patch$Patch.class
/diff_match_patch.class
